<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>员工列表</title>
    <link href="/bootstrap3/css/bootstrap.css" type="text/css" rel="stylesheet"></link>
    <link href="/datepicker/css/bootstrap-datetimepicker.css" rel="stylesheet">

    <script type="text/javascript" src="/bootstrap3/js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="/bootstrap3/js/bootstrap.js"></script>
    <script src="/datepicker/js/bootstrap-datetimepicker.min.js"></script>
    <script src="/datepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>

    <style type="text/css">
        .pagination {
            margin: 0px
        }

        .pagination > li > a, .pagination > li > span {
            margin: 0 5px;
            border: 1px solid #dddddd;
        }

        .glyphicon {
            margin-right: 3px;
        }
        .form-control[readonly]{
            cursor: pointer;
            background-color: white;
        }
    </style>
    <script>
        $(function(){
            $('#hiredate').datetimepicker({
                language:  'zh-CN',
                weekStart: 1,
                todayBtn:  1,
                autoclose: 1,
                todayHighlight: 1,
                startView: 2,
                minView: 2,
                forceParse: 0,
                format: 'yyyy-mm-dd'
            });

            $("#btnAdd").click(function () {
                $('#dlgForm').modal()
                $.ajax({
                    url : "/dept",
                    type : "get",
                    dataType : "json",
                    success : function (data) {
                        // 清空dept所有选项
                        $("#dept").empty();
                        for (var i = 0; i < data.length; i++) {
                            $("#dept").append("<option value='" + data[i].deptno + "'>" + data[i].dname + "</option>");
                        }
                    }
                })
            });

            // 岗位二级联动
            $("#dept").change(function () {
                var dept = $(this).val();
                $.ajax({
                    url : "/job?dept="+dept,
                    type : "get",
                    dataType : "json",
                    success : function (data) {
                        console.log(data)

                        // 清空dept所有选项
                        $("#job").empty();
                        for (var i = 0; i < data.length; i++) {
                            $("#job").append("<option value='" + data[i] + "'>" + data[i] + "</option>");
                        }
                    }
                })
            })
        })
    </script>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container" style="text-align: center">
        <h2>《Spring Boot 实战》系列课实战案例</h2>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div>
            <ol class="breadcrumb" style="background-color:transparent;font-size: 20px">
                <li><a href="#">首页</a></li>
                <li class="active">实战案例</li>
                <li class="active">Spring Boot与Web开发</li>
            </ol>
        </div>
        <h1 style="text-align: center">Co. 员工信息表</h1>
        <div class="panel panel-default">
            <div class="clearfix panel-heading ">

                <div class="input-group" style="width: 500px;">
                    <button class="btn btn-primary" id="btnAdd"><span class="glyphicon glyphicon-zoom-in"></span>新增</button>
                </div>
            </div>

            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th>序号</th>
                    <th>员工编号</th>
                    <th>姓名</th>
                    <th>部门</th>
                    <th>岗位</th>
                    <th>入职时间</th>
                    <th>工资</th>
                    <th>&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="emp, iterStat:${emps}">
                    <td th:text="${iterStat.index + 1}"></td>
                    <td>[[${emp.empno}]]</td>
                    <td>[[${emp.ename}]]</td>
                    <td>[[${emp.dname}]]</td>
                    <td>[[${emp.job}]]</td>
                    <td th:text="${#dates.format(emp.hiredate,'yyyy年MM月dd日')}"></td>
                    <td style="color: red;font-weight: bold">[[${emp.sal}]]</td>
                    <td style="text-align: center">
                        <button class="btn btn-xs btn-info"></span>查看照片</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="modal fade" tabindex="-1" role="dialog" id="dlgForm">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="empno">员工编号</label>
                        <input type="text" class="form-control" id="empno" placeholder="请输入员工编号">
                    </div>
                    <div class="form-group">
                        <label for="ename">员工姓名</label>
                        <input type="text" class="form-control" id="ename" placeholder="请输入员工姓名">
                    </div>
                    <div class="form-group">
                        <label >部门</label>
                        <select class="form-control" id="dept">
                            <option>研发部</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label >岗位</label>
                        <select class="form-control" id="job">
                            <option>请选择</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="hiredate">入职时间</label>
                        <input type="text" readonly class="form-control" id="hiredate" placeholder="请选择入职时间">
                    </div>
					<div class="form-group">
                        <label for="sal">工资</label>
                        <input type="text" name="sal" class="form-control" id="sal" placeholder="请输入工资">
                    </div>
					
                    <div class="form-group">
                        <label for="phone">员工照片</label>
                        <input type="file" id="phone">
                    </div>
					<div class="form-group" style="text-align: center;">
                        <button type="submit" class="btn btn-primary">保存</button>
                    </div>
                </form>
            </div>
            
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="modal fade" tabindex="-1" role="dialog" id="dlgPhoto">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">照片</h4>
            </div>
            <div class="modal-body">
                <img class="preview" src="">
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
</body>
</html>