<!-- 通知浏览器，使用HTML5标准解释HTML文档 -->
<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Bootstrap</title>
	<meta name="viewport" content="width=device-width,initial-scale=1"></meta>
    <link href="css/bootstrap.css" type="text/css" rel="stylesheet"/>
    <script src="js/jquery-1.11.1.min.js"></script>
    <script src="js/bootstrap.js"></script>
</head>

<body>
	<div class="container">
        <h1>响应式布局演示YYYYBBBBCCCC </h1>
    	<div class="col-xs-6 col-sm-4 col-md-3 col-lg-1 "><img style="width:100%" src="images/sample.jpg"></img></div>
    	<div class="col-xs-6 col-sm-4 col-md-3 col-lg-1 "><img style="width:100%" src="images/sample.jpg"></img></div>
    	<div class="col-xs-6 col-sm-4 col-md-3 col-lg-1 "><img style="width:100%" src="images/sample.jpg"></img></div>
    	<div class="col-xs-6 col-sm-4 col-md-3 col-lg-1 "><img style="width:100%" src="images/sample.jpg"></img></div>
    	<div class="col-xs-6 col-sm-4 col-md-3 col-lg-1 "><img style="width:100%" src="images/sample.jpg"></img></div>
    	<div class="col-xs-6 col-sm-4 col-md-3 col-lg-1 "><img style="width:100%" src="images/sample.jpg"></img></div>
    	<div class="col-xs-6 col-sm-4 col-md-3 col-lg-1 "><img style="width:100%" src="images/sample.jpg"></img></div>
    	<div class="col-xs-6 col-sm-4 col-md-3 col-lg-1 "><img style="width:100%" src="images/sample.jpg"></img></div>
    	<div class="col-xs-6 col-sm-4 col-md-3 col-lg-1 "><img style="width:100%" src="images/sample.jpg"></img></div>
    	<div class="col-xs-6 col-sm-4 col-md-3 col-lg-1 "><img style="width:100%" src="images/sample.jpg"></img></div>
    	<div class="clearfix"></div><!-- 强制换行 -->
    	<div class="col-xs-6 col-sm-4 col-md-3 col-lg-1 "><img style="width:100%" src="images/sample.jpg"></img></div>
    	<div class="col-xs-6 col-sm-4 col-md-3 col-lg-1 "><img style="width:100%" src="images/sample.jpg"></img></div>
    	<div class="col-xs-6 col-sm-4 col-md-3 col-lg-1 "><img style="width:100%" src="images/sample.jpg"></img></div>
    	<div class="clearfix"></div><!-- 强制换行 -->
    	<!-- 在大尺寸下，图片默认向右位移两个栅格 -->
    	<div class="col-xs-6 col-sm-4 col-md-3 col-lg-1 col-lg-offset-5"><img style="width:100%" src="images/sample.jpg"></img></div>
    </div>
</body>
</html>
