<!DOCTYPE html>
<!-- 引入Thymeleaf标签库 -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <title>[[#{app.report.name}]]</title>
    <link href="css/bootstrap.css" type="text/css" rel="stylesheet"/>
    <script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <style type="text/css">
        .pagination {
            margin: 0px
        }

        .pagination > li > a, .pagination > li > span {
            margin: 0 5px;
            border: 1px solid #dddddd;
        }

        .glyphicon {
            margin-right: 3px;
        }
        .highlight{
            background-color: #2aabd2;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container" style="text-align: center">
        <h2>Thymeleaf 语法</h2>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div>
            <ol class="breadcrumb" style="background-color:transparent;font-size: 20px">
                <li><a th:href="#{app.website}">首页</a></li>
                <li class="active">实战案例</li>
                <li class="active">thymeleaf模板引擎实战</li>
            </ol>
        </div>
        <!-- th:text 代表将内容输出到标签体中
             #{}  代表读取消息表达式，属于常量，类似于配置文件中的属性，所以此处读取的是message.properties相应的属性，
             ${}  代表读取变量表达式，与OGNL表达式一致
         -->
        <h1 style="text-align: center" th:text="#{app.name}"></h1>
        <div class="panel panel-default">
            <div class="clearfix panel-heading ">

                <div class="input-group" style="width: 500px;">
                    <!-- param为内置对象，用于获取请求的参数，相当于request.getParameter("key") -->
                    <input type="text" id="key" class="form-control" placeholder="请输入要查询的员工" th:value="${param.key}">
                    <div class="input-group-btn">
                        <button class="btn btn-primary" id="empFind"><span class="glyphicon glyphicon-zoom-in" ></span>查询</button>
                    </div>
                </div>
            </div>

            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th>序号</th>
                    <th>员工编号</th>
                    <th>姓名</th>
                    <th>部门</th>
                    <th>岗位</th>
                    <th>入职时间</th>
                    <th>工资</th>
                    <th>奖金</th>
                    <th>&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                    <!-- th:each 遍历循环对象 th:class 给经理一级加上高亮蓝色背景-->
                    <!-- 三目运算符， 格式： ${布尔表达式}?成立:不成立-->
                    <tr th:each="emp,iterStat : ${emps}" th:class="${emp.job == 'MANAGER' || emp.job == 'PRESIDENT'}?'highlight':''">
                        <!--iterStat 称作状态变量 index：当前迭代对象的 index（从0开始计算）,count::当前迭代对象的 index(从1开始计算)-->
                        <td th:text="${iterStat.count}"/>
                        <td th:text="${emp.empno}"/>
                        <!-- 将员工名字变成小写-->
                        <td>[[${#strings.toLowerCase(emp.ename)}]]</td>
                        <!-- 部门名称显示中文 -->
                        <!--使用th:switch th:case多分支判断，使用if来逐一判断也可以<td th:if="${emp.getDname() == 'ACCOUNTING'}">会计部</td>-->
                        <td th:switch="${emp.dname}">
                            <span th:case="RESEARCH">研发部</span>
                            <span th:case="SALES">销售部</span>
                            <span th:case="ACCOUNTING">会计部</span>
                        </td>


                        <td>[[${emp.job}]]</td>
                        <!--#datas #strings 是内置函数，可以使用一些常用的方法-->
                        <td>[[${#dates.format(emp.hiredate,'yyyy年MM月dd日')}]]</td>
                        <!-- 将工资大于1500的标红加粗，使用三目运算符 #numbers.formatCurrency() 对数字进行货币化-->
                        <td th:text="${#numbers.formatCurrency(emp.sal)}" th:style="${emp.sal > 1500} ? 'color:red;font-weight:bold;'"/>
                        <!-- 奖金货币化现实，没有奖金现实N/A -->
                        <td th:text="${emp.comm != null} ? ${#numbers.formatCurrency(emp.comm)}:'N/A'"/>
                        <td style="text-align: center">
                            <button class="btn btn-xs btn-info"></span>详细</button>
                            <button class="btn btn-xs btn-warning"></span>删除</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script >
    // 绑定单击事件
    document.getElementById("empFind").onclick = function (ev) {
        var key = document.getElementById("key").value;
        var url = "/?key="+key;
        window.location.href = url;
    }
</script>
</body>
</html>